* {
  box-sizing: border-box;
  font-family: opensans-regular;
}

@font-face {
  font-family: "opensans-regular";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  src: url
    (
      "https://github.com/netology-code/html-2-diploma/blob/master/sources/fonts/OpenSans-Regular.ttf"
    );
}

@font-face {
  font-family: "opensans-bold";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  src: url
    (
      "https://github.com/netology-code/html-2-diploma/blob/master/sources/fonts/OpenSans-Bold.ttf"
    );
}

* {
  margin: 0;
  padding: 0;
}

/***********ШАПКА САЙТА*************/
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://raw.githubusercontent.com/netology-code/html-2-diploma/master/sources/images/banner-bg.jpg);

  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
  background-size: cover;
}

.header-box {
  width: 1200px;
  padding-top: 27px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 146px;
  margin-left: auto;
  margin-right: auto;
}

.header-conteiner {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 180px;
}

.menu-i {
  display: flex;
  flex-direction:
}

.menu-header {
  display: flex;
  align-items: center;
}

.menu-item {
  display: flex;
  margin-left: 33px;
  font-weight: normal;
}

.menu-item:nth-child(1) {
  margin-left: 0px;
}

.menu-items {
  text-decoration: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;

  font-size: 12px;

  text-align: center;
}

.blog {
  color: white;

  text-align: center;

  font-size: 38px;
  font-family: opensans-bold;
  text-transform: uppercase;

  width: 680px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

/***********СТАТЬИ************/

.body {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  
  padding-top: 58px;
  padding-bottom: 65px;
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  display: flex;
  margin-top: 60px;

  width: 780px;
}

.card:first-child {
  margin-top: 0px;
}

.card-preview {
  width: 382px;
}

.main {
  width: 775px;
}

.card-info {
  margin-left: 29px;
}

/**********РАБОТА СО ШРИФТАМИ**********/

.top {
  margin-right: 7px;
  font-size: 13px;
  display: inline;
  text-transform: uppercase;
}

.htop {
  text-decoration: none;
  color: #b7a168;
  font-family: opensans-bold;
}

.card-head {
  margin-top: 5px;
  margin-bottom: 35px;
}

.card-h {
  text-decoration: none;
  font-family: opensans-bold;
  font-size: 17px;
  font-weight: 850;
  text-transform: uppercase;
  color: black;
}

.date {
  font-size: 13px;
  color: #9c9c9c;
}

.author {
  font-family: opensans-bold;
  font-size: 13px;
  margin-left: 15px;
}

.discription {
  font-size: 15px;

  margin-top: 50px;
}

/******СВОДКА СПРАВА*********/

.column {
  width: 275px;
}

.side-card {
  display: flex;
  width: 270px;
  margin-top: 20px;
}

.side-card:first-child {
  margin-top: 0px;
}

.side-img {
  width: 70px;
  margin-right: 20px;
}

/**********РАБОТА СО ШРИФТАМИ************/
.shead {
  margin-bottom: 46px;
  position: relative;
}

.shead::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  
  background-color: #e5d8b5;
  color: #e5d8b5;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.side-head {
  text-decoration: none;
  text-align: center;
  font-family: opensans-bold;
  font-size: 12px;
  text-transform: uppercase;
  color: black;
}

.side-h {
  text-decoration: none;
  font-size: 13px;
  margin-top: 1px;
  font-family: opensans-bold;
  text-transform: uppercase;
  color: black;
}

/*********ФОРМА ПОИСКА*********/

.search-form {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 270px;
}

.search-box {
  width: 100%;
  height: 50px;
  padding: 20px;

  vertical-align: middle;
  border: 2px solid #f5f7f6;
  background-color: #f5f7f6;

  font-family: inherit;
  font-size: 13px;
}

.search-button {
  width: 50px;
  height: 50px;

  border: 2px solid #b69f5b;
  background-color: #b69f5b;

  background-image: url(https://raw.githubusercontent.com/netology-code/html-2-diploma/63094dfaac47870ff31ea99bb29234c640836a5a/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

/********EMAIL*********/

.field-email {
  width: 100%;
  height: 50px;
  padding: 20px;

  vertical-align: middle;
  border: 2px solid #f5f7f6;
  background-color: #f5f7f6;

  font-family: inherit;
  font-size: 13px;
}

.button-email {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 16px;

  border: 2px solid #b69f5b;
  background-color: #b69f5b;

  font-family: opensans-bold;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}

/********ТЕГИ********/

.conteiner-tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: block;
  border: 3px solid #eeeeee;
  padding: 6px 14px;
  margin-top: 5px;
  margin-right: 5px;

  text-decoration: none;
  font-family: opensans-bold;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
}

.tags, .themes {
  margin-top: 60px;
}

/******ТЕМЫ********/
.themes {
  display: block;
}

.container-theme {
  display: flex;
  border-bottom: 2px solid #eeeeee;
}

.container-theme:nth-child(n + 2) {
  padding-top: 11px;
}

.theme {
  text-decoration: none;
  display: block;
  padding-bottom: 9px;
  text-decoration: none;
  font-family: opensans-bold;
  font-size: 13px;
  color: black;
}

.theme-number {
  font-size: 12px;
  font-weight: bold;
  color: #afa66b;
  margin-left: 5px;
}

/********ПОДВАЛ********/
.footer {
  display: block;
}

.conteiner-footer {
  width: 1170px;
  height: 82px;

  margin-left: auto;
  margin-right: auto;
  background-color: #f3f7f6;
}

.icons {
  padding-top: 30px;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.twitter {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.pinterest {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.facebook {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.instagram {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.thumblr {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.link {
  display: inline-block;
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.icon:nth-child(n + 2) {
  margin-left: 31px;
}

.copyright {
  display: block;
  margin-top: 70px;
  margin-bottom: 35px;
  text-align: center;
  text-decoration: none;
  font-family: opensans-bold;
  font-size: 12px;
  color: #9b9b9b;
}

/*********Скрытое описание********/
.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 